<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wangmeng.phonedefender"
    android:versionCode="1"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_l"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- activity -->
        <activity
            android:name="com.wangmeng.phonedefender.activity.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.wangmeng.phonedefender.activity.HomeActivity" >
            <intent-filter>
                <action android:name="com.wangmeng.phonedefender.shortcut" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.wangmeng.phonedefender.activity.SettingActivity" >
        </activity>
        <activity android:name="com.wangmeng.phonedefender.activity.Option0Activity" >
        </activity>
        <activity android:name="com.wangmeng.phonedefender.activity.setup_activity.Setup0Activity" >
        </activity>
        <activity android:name="com.wangmeng.phonedefender.activity.setup_activity.Setup1Activity" >
        </activity>
        <activity android:name="com.wangmeng.phonedefender.activity.setup_activity.Setup2Activity" >
        </activity>
        <activity android:name="com.wangmeng.phonedefender.activity.setup_activity.Setup3Activity" >
        </activity>
        <activity android:name="com.wangmeng.phonedefender.activity.setup_activity.DisplayContactsActivity" >
        </activity>
        <activity android:name="com.wangmeng.phonedefender.activity.AdvancedToolsActivity" >
        </activity>
        <activity android:name="com.wangmeng.phonedefender.activity.advancedtools_activity.CheckPhoneNumberActivity" >
        </activity>
        <activity
            android:name="com.wangmeng.phonedefender.self_defined_layout.SetLocationSiteActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >

            <!-- 设置activity为透明效果 -->
        </activity>
        <activity android:name="com.wangmeng.phonedefender.activity.CallDefenderActivity" >
        </activity>
        <activity android:name="com.wangmeng.phonedefender.activity.SoftwareManagerActivity" >
        </activity>
        <activity android:name="com.wangmeng.phonedefender.activity.TaskManagerActivity" >
        </activity>
        <activity android:name="com.wangmeng.phonedefender.activity.TaskManagerActivitySetting" >
        </activity>
        <activity android:name="com.wangmeng.phonedefender.activity.FindKillWorm" >
        </activity>
        <activity android:name="com.wangmeng.phonedefender.activity.CleanCache" >
        </activity>
        <activity android:name="com.wangmeng.phonedefender.activity.TrafficState" >
        </activity>
        <!-- receiver -->
        <receiver android:name="com.wangmeng.phonedefender.receiver.BootCompleteReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <!-- 用于接收开机启动完成广播的过滤器 -->
            </intent-filter>
        </receiver>
        <receiver android:name="com.wangmeng.phonedefender.receiver.SMSReceiver" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                <!-- 用于接收收到短信时的广播 -->
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.wangmeng.phonedefender.receiver.MyDeviceAdminReceiver"
            android:description="@string/device_admin_description"
            android:label="@string/device_admin"
            android:permission="android.permission.BIND_DEVICE_ADMIN" >
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.wangmeng.phonedefender.receiver.OutCallReceiver" >
        </receiver>
        <receiver android:name="com.wangmeng.phonedefender.receiver.MyDeviceAdminReceiver" >

            <!-- 定义一个桌面小部件 -->
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
        <receiver android:name="com.wangmeng.phonedefender.receiver.widget.KillProcessReceiver" >
            <intent-filter>
                <action android:name="com.wangmeng.widget.buttonclick" />
            </intent-filter>
        </receiver>

        <!-- service -->
        <service android:name="com.wangmeng.phonedefender.service.LocationService" >
        </service>
        <service android:name="com.wangmeng.phonedefender.service.CallStateService" >
        </service>
        <service android:name="com.wangmeng.phonedefender.service.LanJieService" >
        </service>
        <service android:name="com.wangmeng.phonedefender.service.UpdateWidgetData" >
        </service>

        <!-- 有米广告 -->
        <activity
            android:name="net.youmi.android.AdBrowser"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>

        <service
            android:name="net.youmi.android.AdService"
            android:exported="false" >
        </service>

        <receiver android:name="net.youmi.android.AdReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
    </application>

</manifest>